header {
  background-image: url('/launcher.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  &:before {
    content: '';
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    height: 100vh;
    background-color: #000;
    opacity: 0.8;
    visibility: hidden;
    transition: opacity 1500ms 150ms;
  }

  &.launched {
    &:before {
      opacity: 0.8;
      visibility: visible;
    }

    button{
      opacity: 0;
    }

  }

  .logo {
    max-width: 300px;
    display: block;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    color: #FFF;
    display: none;
  }

  button {
    display: block;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    width: 20vw;
    margin-left: -10vw;
    z-index: 10;
    transition: opacity 500ms;

    .countdown {
      font-size: 1Rem;

      &:before {
        content: ' (';

      }

      &:after {
        content: ')';
      }
    }
  }
}
