<div class="disclaimer">
  <h1 class="fantasy">Informations importantes</h1>
  <div class="content">
    <p>
      WeightQuest est un jeu vidéo éducatif développé en collaboration avec une équipe médicale spécialisée.<br/>
      Il a pour objectif de vous sensibiliser et de vous accompagner dans la compréhension des enjeux liés à la gestion du poids et de la santé.
    </p>
    <p>
      Certaines questions personnelles vous seront posées afin de mieux adapter le déroulé du jeu à votre situation.
      <br/>Vos données personnelles ne sont ni collectées ni partagées. Les données sont stockées exclusivement sur votre appareil.</p>
    <p>
      Votre expérience de jeu et la pertinence de la progression dans le jeu sont intimement liées à la précision des informations que vous fournirez.
    </p>


    <fieldset>
      <legend>⚠</legend>
      <ul>
        <li>
          Ce jeu ne remplace en aucun cas un avis médical professionnel.
        </li>
        <li>
          Pour toute question ou préoccupation concernant votre santé, nous vous recommandons de consulter un professionnel de santé qualifié.
        </li>
      </ul>
    </fieldset>
    En continuant, vous acceptez ces conditions et reconnaissez avoir compris ces informations.
  </div>
  <label for="ch">
    <input id="ch" type="checkbox" [(ngModel)]="checked">
    <mat-icon *ngIf="checked">check_box</mat-icon>
    <mat-icon *ngIf="!checked">check_box_outline_blank</mat-icon>
    Je comprends les objectifs présentés
  </label>

  <button [disabled]="!checked" routerLink="/profile/edit">Continuer</button>
</div>
